<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="row">
    <div class="container">
        <a th:href="@{/add}" class="btn btn-primary">Add Item</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>Finish Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="tasks : ${tasks}">
                    <td th:text="*{tasks.title}">Title</td>
                    <td th:text="*{tasks.startDate}">Start Date</td>
                    <td th:text="*{tasks.finishDate}">Finish Date</td>
                    <td th:text="*{tasks.status}">Status</td>
                    <td>

                        <form th:action="@{/delete/{id}(id=${tasks.id})}" method="POST">

                            <button type="submit">Delete</button>

                        </form>

                    </td>

                    <td>

                        <form th:action="@{/update/{id}(id=${{tasks.id}})}" method="GET">

                            <button type="submit">update</button>

                        </form>

                    </td>


                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>