<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<div class="container col-md-5">
    <div class="card">
        <div class="card-body">
            <form th:action="@{/update/{id}(id=${{tasks.id}})}"  th:object="${tasks}" method="POST">
                <fieldset class="form-group">
                    <label>Task Title</label><input type="text" class="form-control" name="title"  th:field="*{title}" required="required" minlength="5"/>
                </fieldset>
                <input type="hidden" name="id" th:value="${tasks.id}" >



         <!--       <fieldset class="form-control">
                    <label>Start Date</label>
                    <input type="date" class="form-control" name="start" th:field="*{startDate}"  pattern="yyyy-MM-dd" required="required">
                </fieldset>

                <fieldset class="form-control">
                    <label>Finish Date</label>
                    <input type="date" class="form-control" name="finish_date" th:field="*{finishDate}"  pattern="yyyy-MM-dd" required="required">
                </fieldset>

-->

                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>

    </div>
</div>

</body>
</html>